[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
[submodule "themes/hugo-bearneo"]
	path = themes/hugo-bearneo
	url = https://github.com/rokcso/hugo-bearneo.git
