[submodule "themes/hugo-bearneo"]
	path = themes/hugo-bearneo
	url = https://github.com/rokcso/hugo-bearneo.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
